@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}
ul, ol, li {
    list-style: none;
}
.btn-wrap {
    text-align: center;
    font-size: 0;
    -webkit-text-size-adjust: none;
    width: 200px;
    margin: 50px auto 5px;
    background-color: #008080;
}
.btn {
    width: 40px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.box {
    width: 200px;
    margin: 0 auto 10px;
    background-color: #203;
}
.box .b1, .box .b2 {
    display: inline-block;
    float: left;
    color: #fff;
    box-sizing: border-box;
    font-size: 16px;
    width: 80px;
    height: 40px;
    padding: 10px;
}
.box .b1 {
    background-color: #f20;
}
.box .b2 {
    background-color: #986801;
}
.box a, .box span {
    background-color: #369;
}
p.box{
    display: block;
}
.box p {
    display: inline;
    color: #fff;
    background-color: #986801;
}